.hero,
.footer {
    background-color: #1f2937;
    display: flex;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.left1, .right1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

p {
    line-height: 10px;
}

.quote {
    background-color: #E5E7EB;
}

.hero {
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.left2, .right2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

* {
    outline: 2px solid red;
}